nav > a {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #55470e;
  }

nav {
    border: 5px solid rgba(75, 75, 75, 0.774);
    background-color: rgba(161, 161, 161, 0.473)
}

nav.navbar{
    display: flex;
    justify-content: space-around;
}

h1{
    font-weight: bold;
    font-size: 2em;
}

#About_me{
    border: 5px solid rgba(131, 179, 55, 0.774);
    background-color: rgba(187, 255, 77, 0.774);
    padding: 15px
}

#pic_of_me{
    border: 5px;
    border-style: double;
    border-width: 1em;
    border-color: rgba(131, 179, 55, 0.774);
}

#About_me_main{
    display: flex;
}

section#About_me article{
    font-size: 1.5em;
    line-height: 1.5em
}

div#icons{
    display: flex;
    justify-content: space-around;
}

#Places_Traveled{
    border: 5px solid rgba(64, 255, 150, 0.774);
    background-color: rgba(49, 190, 113, 0.774);
    padding: 15px
}

.img_container {
    display: flex;
    flex-wrap: wrap;
}

.img_container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_container > .normal {
    flex: 1 1 150px;
    margin: 2px;
}

.img_container > .big {
    flex: 1 1 250px;
    margin: 2px;
}


/* Styling the Education section */
#Education{
    border: 5px solid rgba(64, 233, 255, 0.774);
    background-color: rgba(45, 172, 189, 0.774);
    padding: 15px;
}

#Education_main{
    display: flex;
}

section#Education article{
    font-size: 1.5em;
    line-height: 1.5em
}

#Skills{
    border: 5px solid rgba(127, 104, 255, 0.61);
    background-color: rgba(138, 126, 207, 0.61);
    padding: 15px
}

#Skills > h1{
    font-size: 2em;
    font-weight: bold;
}

#Skills > ul > li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.5em;
    list-style: none;
    font-size: 1.3em;
}

#Contact{
    border: 5px solid rgba(127, 104, 255, 0.774);
    background-color: rgba(151, 157, 201, 0.774);
    padding: 15px
}
#Contact > h1{
    font-size: 1em;
    font-weight: bold;
}

#Contact > ul > li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.5em;
    list-style: none;
    font-size: 1.3em;
}